@page "/Store"

<h1 class="text-3xl mt-3 ml-2 mb-2">Store</h1>

<div>
    <ul class="flex">
        <li>
            <div>
                <img src="icons/adperus.jpg" alt="" class="store-image-list-item">
                <span class="ml-2">Geral</span>
            </div>
        </li>
        <li>
            <div>
                <img src="icons/camp.jpg" alt="" class="store-image-list-item">
                <span class="ml-2">CAMP</span>
            </div>
        </li>
        <li>
            <div>
                <img src="icons/umademp.jpg" alt="" class="store-image-list-item">
                <span class="ml-2">UMADEMP</span>
            </div>
        </li>
        <li>
            <div>
                <img src="icons/ebfo.jpg" alt="" class="store-image-list-item">
                <span class="ml-2">EBFO</span>
            </div>
        </li>
    </ul>
</div>


