@import "tailwindcss";
@import "../Pages/Store/Store.razor.css";
@import "../Components/CardComponent.razor.css";

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--color-primary);
}

.menu-list-item{
    @apply flex w-full p-2 rounded-xl mt-2 pl-4 hover:bg-gray-600 
}

.store-image-list-item{
    @apply rounded-xl m-2
}

.subtitle{
    @apply font-semibold text-lg    
}

@theme{
    --color-primary: #121A21;
    --color-text-sec: #94ADC7;
    --color-text-ter: #FF0000;
}

.menu-list-item.active{
    @apply bg-white text-black
}

.menu-list-item.active .default-icon{
    display: none !important;
}

.menu-list-item.active .hover-icon{
    display: inline !important;
}