@using System.ComponentModel
<div>
    <NavLink href="@Route">
        <div class="rounded-xl shadow-lg shadow-slate-950/50 bg-slate-950/30 h-50 w-42 flex flex-col justify-start
                    border-1 border-slate-800 mx-2 transition-transform duration-300 hover:-translate-y-2">
            <img src="@ImagePath" alt="" class="rounded-xl m-2">
            <span class="ml-2 font-extrabold text-lg">@Title</span>
        </div>
    </NavLink>
</div>


@code {
    
    [Parameter, EditorRequired]
    public string Title { get; set; } = string.Empty;
    
    [Parameter, EditorRequired]
    public string ImagePath { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public string Route { get; set; } = string.Empty;
}