<aside class="fixed w-64">
    <ul class="mt-3">
        <li>
            <NavMenuItem 
                DarkIconPath="icons/store-black.svg" 
                DefaultIconPath="icons/store.svg" 
                Route="/store"
                Title="Loja"
                />
        </li>
        <li>
            <NavMenuItem 
                DarkIconPath="icons/events-black.svg" 
                DefaultIconPath="icons/events.svg" 
                Route="/events"
                Title="Eventos"
            />
        </li>
        <li>
            <NavMenuItem 
                DarkIconPath="icons/news-black.svg" 
                DefaultIconPath="icons/news.svg" 
                Route="/news"
                Title="Notícias"
            />
        </li>
    </ul>
</aside>