<div>
    <NavLink href="store/general">
        <div class="cardy">
            <img src="@ProductImage" alt="" class="store-image-list-item">
            <span class="ml-2 label-text">@ProductTitle</span>
            <span class="ml-2 text-text-sec">@ProductPrice.ToString("C")</span>
        </div>
    </NavLink>
</div>
