@page "/store/camp"

<div>
    <div class="m-6">
        <span class="subtitle text-text-sec">Store /</span>
        <span class="subtitle">CAMP</span>
    </div>
</div>

<ProductComponent ProductTitle="Camisa P" ProductPrice="@((decimal)50)" ProductImage="icons/camp.jpg"/>
