@page "/store/camp"

<div>
    <div class="m-6">
        <RouteComponent Resource="Store" Item="CAMP"/>
    </div>
</div>

<ProductComponent ProductTitle="Camisa P" ProductPrice="@((decimal)50)" ProductImage="icons/camp.jpg"/>
