@page "/Store"

<div class="flex items-center mt-3 mb-4 ml-2">
    <img src="icons/store.svg" alt="" class="mr-3" width="40">
    <h1 class="text-3xl font-bold">Loja AD Perus</h1>
</div>


<div>
    <ul class="flex">
        <li>
            <NavLink href="store/general">
                <div class="card">
                    <img src="icons/adperus.jpg" alt="" class="store-image-list-item">
                    <span class="ml-2 label-text">Geral</span>
                </div>
            </NavLink>
        </li>
        <li>
            <NavLink href="store/camp">
                <div class="card">
                    <img src="icons/camp.jpg" alt="" class="store-image-list-item">
                    <span class="ml-2 label-text">CAMP</span>
                </div>
            </NavLink>
        </li>
        <li>
            <NavLink href="store/umademp">
                <div class="card">
                    <img src="icons/umademp.jpg" alt="" class="store-image-list-item">
                    <span class="ml-2 label-text">UMADEMP</span>
                </div>
            </NavLink>
        </li>
        <li>
            <NavLink href="store/ebfo">
                <div class="card">
                    <img src="icons/ebfo.jpg" alt="" class="store-image-list-item">
                    <span class="ml-2 label-text">EBFO</span>
                </div>
            </NavLink>
        </li>
    </ul>
</div>


