@page "/Store"

<div class="flex items-center mt-3 mb-4 ml-2">
    <img src="icons/store.svg" alt="" class="mr-3" width="40">
    <h1 class="text-3xl font-bold">Loja AD Perus</h1>
</div>


<div>
    <ul class="flex">
        <li>
            <CardComponent
                Title="Geral"
                ImagePath="icons/adperus.jpg"
                Route="store/general"
            />
        </li>
        <li>
            <CardComponent
                Title="CAMP"
                ImagePath="icons/camp.jpg"
                Route="store/camp"
            />
        </li>
        <li>
            <CardComponent
                Title="UMADEMP"
                ImagePath="icons/umademp.jpg"
                Route="store/umademp"
            />
        </li>
        <li>
            <CardComponent
                Title="EBFO"
                ImagePath="icons/ebfo.jpg"
                Route="store/ebfo"
            />
        </li>
    </ul>
</div>


